<h1>All users</h1>

<h2><%= @users.count %> registered users</h2>


 <table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Pets</th>
    </tr>

    <% @users.each do |user|%>
    <tr class="allusers">
        <td><%= user.firstName %></td>
        <td><%= user.email %></td>
        <td><%= user.pets %></td>
    </tr>
    <% end %>

</table> 