<div class="dogs-running"> 
  <h1 class="AGP"> AGP Pet Cloning Service</h1>
  <p>A lifetime relationship with your pet</p>
  <button type="button" class="btn btn-success">Learn More</button>
</div>

<div class='animals-logos'>
    <div class="catson">
        <img id="cat" src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDJ8fGNhdHxlbnwwfHx8fDE2NjE3ODY5NDk&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="cat">
        <p>Cat cloning</p>
    </div>    
    <div class="dogson">
        <img id="dog" src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDV8fGRvZ3xlbnwwfHx8fDE2NjE3ODczNzg&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="dog">
        <p>Dog cloning</p>
    </div>
    <div class="horseon">
        <img id="horse" src="https://images.unsplash.com/photo-1546894239-c9865f479ad0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDM5fHxIb3JzZXxlbnwwfHx8fDE2NjE4MzY5NTU&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="horse">
        <p>Horse cloning</p>
    </div>
</div>

<h1 id="latest-posts">Our latest posts:</h1>
<div class="our-latest-post">
    <div class="man-and-dog">
        <img src="https://images.unsplash.com/photo-1644675272883-0c4d582528d8?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDMzfHxkb2N0b3IlMjB3aXRoJTIwYSUyMGRvZ3xlbnwwfHx8fDE2NjE4Mzg2ODY&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="9">
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
    </div>
    <div class="cat-hug">
        <img src="https://images.unsplash.com/photo-1607430540778-b8c293209f7b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDUyfHx0d28lMjBjYXRzfGVufDB8fHx8MTY2MTgzOTE5NA&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="cat hugging">
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
    </div>
    <div class="horse-kickingback">
        <img src="https://images.unsplash.com/photo-1465418028868-159acdc7747f?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDI5fHx0d28lMjBob3JzZXN8ZW58MHx8fHwxNjYxODM5Mjkw&ixlib=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" alt="horse just chilling">
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
    </div>
</div>

<div class="lead-tech">
  <hr>
  <i class="bi bi-gear-wide-connected"></i>
  <h2>Leading Technology</h2>
  <hr>

  <hr>
  <i class="bi bi-people-fill"></i>
  <h2>Personal Team & Services</h2>
  <hr>

  <hr>
  <i class="bi bi-tropical-storm"></i>
  <h2>Genetic Identification Team</h2>  
  <hr>    

  <hr>
  <i class="bi bi-airplane-engines"></i>
  <h2>Mission of Hope & Commitment</h2>
  <hr>
</div>

<h2 id="testimonials">Client Testimonials:</h2>
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div class="carousel-item" data-interval="2000">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div class="carousel-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
</div>

<h2 id="hello">Hello There Pet Lover</h2>

<p>Want to recieve our latests posts, news and discounts, Sign Up!!</p>

<p>I only want to receive news on:</p>

<%= link_to 'Sign Up!', new_user_path, :class => "btn btn-success", :id => "signup" %>

<div id="personal-info">
<p>We will protect your personal information</p>
<a id="privacy" href="#">read our privacy policy</a>
<p>We won't spam you we promise!</p>
</div>

<div class="footer">
    <div>
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div>
      <h2>Our Services</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>

    <div>
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>  
</div>