// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hello {
    color: green;
    
}

.dogs-running{
    color: white;
    background-image: url(https://images.unsplash.com/photo-1579683571996-f3482b0907c2?crop=entropy&cs=tinysrgb&[…]b=rb-1.2.1&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450);
}

#cat {
    height: 5.5em;
    border-radius: 1em;
}

#dog {
    width: 5.0em;
    height: 5.5em;
    border-radius: 1em;
}

#horse {
    width: 5.0em;
    height: 5.5em;
    border-radius: 1em;
}

.animals-logos  {
    display: flex;
}

.our-latest-post {
    display: flex;
    width: 10em;
    
}

.AGP {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

img {
    height: 4.5em;
}

/* .catson {
    display: block;
}

.dogson{
    display: block;
}

.horseon{
    display: block;
} */